

#buttons {
    text-align: center;
    position: relative;
    top: -10px;
    left: 80px;
    padding:0;
    margin-top:-340px;
    z-index: 4;
}

.bttn {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 33px;
    text-shadow: 2px 3px 2px rgba(150, 150, 150, 1);


}

.bttn:hover, .bttn:focus {
    color:#ffffff;
    text-decoration: none;
}

.orange {
    margin-top: 10px;
    padding-top: 20px;
    background-color: rgba(225, 183, 39, 0.9);
    height: 78px;
    width: 223px;
}

.green {
    padding-top: 30px;
    background-color: rgba(97, 162, 60, 0.9);
    width: 274px;
    height: 97px;
}

.orange, .green {
    border-radius: 7px;
    -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.38);
    box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.38);
}

#share {
    margin-right: -20px;
}

#don {
    margin-left: 23px;
}

#reg {

}

#sha {
    margin-left: 51px;
}


@media (max-width: 767px) {
    #buttons {
        top: -78px;
        z-index: 5;
    }

    .bttn  {
        font-size: 18px !important;
        display: inline-block !important;
    }

    #donate, #share {
        height:40px !important;
        width: 90px !important;
    }

    #register {
        height: 55px !important;
        width: 130px !important;
    }

    #share {
        margin-left: -72px;
    }
    .orange {
        padding-top: 9px !important;
    }
    .green {
        padding-top: 16px !important;
    }

    #don {
        margin-left: -180px !important;
        margin-right: 0 !important;
    }

    #reg {
    }

    #sha {
        margin-left: 13px !important;

    }
    
    .oheight {
        width:90px !important;
    }
    .gheight {
        width: 130px !important;
    }
}

@media (min-width: 768px) {
    #buttons {
        top: 200px;
        z-index: 5;
    }
}

@media (max-width: 991px) {


    .bttn {
        font-size: 25px;
    }

    #donate, #share {
        height:60px;
        width: 120px;
    }

    #register {
        height: 75px;
        width: 160px;
    }

    .orange {
        padding-top: 12px;
    }
    .green {
        padding-top: 22px;
    }

    #don {
        margin-left: 77px;
    }

    #reg {
        margin-left: -5px;
    }

    #sha {
        margin-left: 32px;

    }
}

@media (min-width: 992px) {
    #buttons {
        top: 185px;
        z-index: 5;
    }
}

@media (min-width: 1200px) {
    #buttons {
        top: 90px;
        z-index: 5;
    }
}


@media (max-width: 1372px) {
    .oheight {
        height:100%;
    }

    .register-button {
        width: 183px;
    }

}

@media (min-width: 1400px) {
    #buttons {
        top: -40px;
        z-index: 5;
    }
}


