#walk_with_us-wrap {
    background-color: #ffffff;
    border-bottom: 2px solid #d6d6d6;
}

#walk_with_us {
    padding-bottom: 4%;
    padding-left: 9%;
    padding-right: 9%;
}



.cat-vid {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}